<app-layout>

  <app-list [ListComponent]="productData | async"></app-list>
  <div class="floating-container">
    <button mat-fab color="primary" class="floating-button" (click)="addProduct()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
 
  <app-footer></app-footer>
</app-layout>
