<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Price" [(ngModel)]="price">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Product" [(ngModel)]="product">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="description">
  </mat-form-field>
  <div class="image-container">
    <div class="row">
      <div class="picker">
        <ngp-image-picker ($imageChanged)="onImageChanged($event)" [_config]="config2" [_imageSrc]="initialImage">
        </ngp-image-picker>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="addProduct()">Add</button>
</div>