<div class="infinite-list" 
    infinite-scroll 
    (scrolled)="onScrollDown($event)" 
    >
  
<div *ngFor="let product of prodData; let i = index">
    
  <mat-card>
    <mat-card-header fxLayout fxLayoutAlign="start center">
      <div mat-card-avatar class="example-header-image"
        [ngStyle]="{'background-image': 'url('+product.image+')'}">
      </div>
      <mat-card-title>{{product.product}}</mat-card-title>
      <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="productDetail(product)">
        <mat-icon>search</mat-icon>DETAIL
      </button>
      <button mat-raised-button color="warn" (click)="removeProduct(i)">
        <mat-icon>delete</mat-icon>DELETE
      </button>
    </mat-card-actions>
  </mat-card>
</div>
  
</div>
