<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <mat-card-header fxLayout fxLayoutAlign="start center">
    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url('+data.image+')'}">
    </div>
    <mat-card-title>{{data.product}}</mat-card-title>
    <mat-card-subtitle>{{data.price}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4>{{data.description}}</h4>
  </mat-card-content>
</div>

