<h1 mat-dialog-title></h1>
<div mat-dialog-content>
 
  <mat-card-content>
    <h4>Are You sure delete product {{data.product}}?</h4>
  </mat-card-content>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="confirmDelete()">Delete</button>
</div>